<?xml version='1.0' encoding='utf-8'?>
<widget id="com.uwe.odysseus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Odysseus</name>
    <description>
        Odysseus app.Bring Odysseus back home.
    </description>
    <author email="nikolaoskontogiorgas@gmail.com" href="http://phonegap.com">
        Nikolaos Kontogiorgas
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
